////////////////////////
// MASTHEAD
.masthead-container {
    background-size: 1600px auto,auto;
    padding: 100px 0 0 0;
    background-color: transparent;
    background-image: url("../dist/img/green_leaves.png");
    background-position: center top,center center;
    background-repeat: no-repeat,no-repeat;
}

.name-vertical-top {
    margin-top: 30px;
    margin-bottom: 16px;
}

.large-name {
    letter-spacing: 6px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    font-family: 'Merriweather', serif;
    margin: 0;
    font-size: 42.400000000000006px;
}

.name-seperator {
    font-family: 'Great Vibes', cursive;
    font-size: 24.4px;
    font-weight: 400;
    font-style: normal;
    line-height: 0.5;
    text-transform: none;
    letter-spacing: normal;
}

.name-vertical-bottom {
    margin-top: 24px;
}

////////////////////////
// Navbar
.navbar-container {
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1.9px;
    font-size: 19.599999999999998px;
    background-color: transparent;
}

.navbar-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0;
    list-style: none;
}

.navbar-list-item {
    margin: 0 15px;
    padding: 0;

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        margin: 5px 15px;
    }
}

.navbar-link {
    text-decoration: none;
    color: var(--color-text-dark-1);
    transition: all .3s ease-in-out .001s;

    &:hover {
        border-bottom: 1px solid rgba(255, 160, 128, 0.75);
    }
}

////////////////////////
// Main-Image
.main-image {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: solid 8px #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);

    &--location,
    &--schedule,
    &--travel {
        max-height: 512px;
        object-fit: cover;
    }
}

////////////////////////
// Message-strip
.message-container {
    margin-bottom: 20px;
}

.message-title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 1.2px;
    font-size: 19.6px;
    color: var(--color-text-dark-1);
}

.message-date {
    font-family: 'Great Vibes', cursive;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-transform: none;
    letter-spacing: normal;
}

.message-body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-transform: none;
    letter-spacing: normal;
    color: var(--color-grey-dark-3);
    margin-top: 20px;
    margin-bottom: 35px;
}

.graphic-container {
    text-align: center;
    margin-bottom: -50px;
}

.small-graphic {
    display: inline-block;
    width: 516px;
    height: 183px;
    background-image: url(../dist/img/green-flower.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: -50px;

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        width: 100%;
        margin-bottom: -70px;
    }
}

////////////////////////
// About
.about-title-container {
    text-align: center;
    margin-bottom: 28px;
}

.about-title {
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-transform: none;
    letter-spacing: normal;
}

.about-body-container {
    text-align: center;
    margin-bottom: 35px;
}

.about-body {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    text-transform: none;
    letter-spacing: normal;
    color: var(--color-grey-dark-3);
}

.about-frame-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.about-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: unset;

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        width: 100%;
        max-width: 365px;
    }
}

.frame-overlay {
    z-index: 2;
}

.frame-overlay-source {
    width: 100%;
    min-height: 300px;
    height: 100%;
    min-width: 319px;
}

.frame-picture {
    position: absolute;
    bottom: 20px;
    left: 30px;
    z-index: 1;

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        top: 10px;
        left: 4px;
        bottom: 0;
        right: 0;
        width: 95%;
        height: 100%;
        min-width: 275px;
    }
}

.frame-img {
    width: 483px;
    height: 493px;
    object-fit: cover;

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        width: 100%;
        height: auto;
        max-height: 294px;
    }
}

////////////////////////
// Timeline
.small-graphic-2 {
    display: inline-block;
    width: 516px;
    height: 183px;
    background-image: url(../dist/img/green-flower-line.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: -50px;

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        width: 100%;
    }
}

.timeline-title-container {
    text-align: center;
    margin-bottom: 28px;
}

.timeline-title {
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-transform: none;
    letter-spacing: normal;
}

.timeline-container {
    display: flex;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

.timeline-container-wrapper {
    position: relative;
    width: 100%;
}

.timeline {
    position: relative;
    padding: 5em 0;
    margin-bottom: 8px;
}

.timeline-top {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 20;
    margin-left: -7px;

    &:before {
        background-color: var(--color-timeline-cream);
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        z-index: 20;
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 10px;
        border: 4px solid #f7f2e8;
    }
}

@media only screen and (max-width: 519px) and (min-width: 320px) {
    .timeline-top {       
        left: 10%;
    
        &:before {
            background-color: var(--color-timeline-cream);
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            z-index: 20;
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 10px;
            border: 4px solid #f7f2e8;
        }
    }
}

.timeline-line-wrapper {
    &:before {
        background-color: #f7f2e8;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        height: 100%;
        width: 4px;
        background: #fff7f7;
    }
}

@media only screen and (max-width: 519px) and (min-width: 320px) {
    .timeline-line-wrapper {
        &:before {
            background-color: #f7f2e8;
            content: "";
            position: absolute;
            top: 0;
            left: 10%;
            height: 100%;
            width: 4px;
            background: #fff7f7;
        }
    }
}

.timeline-icon {
    position: absolute;
    background-color: #f7f2e8;
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 18px;
    line-height: 74px;
    border-radius: 50%;
    background: #f3f3f3;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -35px;
    top: 15%;
    z-index: 999;

    &__icon {
        color: #FFA080;
    }

    &--second {
        top: 38%;;
    }

    &--third {
        top: 61%;
    }

    &--fourth {
        top: 84%;
    }
}

@media only screen and (max-width: 519px) and (min-width: 320px) {
    .timeline-icon {
        left: 10%;
    }
}

.timeline-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1110px;
    height: 100%;
    margin-top: 70px;

    &--reverse {
        flex-direction: row-reverse;
    }
}

@media only screen and (max-width: 519px) and (min-width: 320px) {
    .timeline-content-container {
        align-items: flex-end;
        position: relative;
        flex-direction: column;
        margin-top: 20px;
    }
}

.timeline-content-left {
    width: 468px;
    height: 295px;
    padding-right: 40px;
    margin-bottom: unset;

    &--reverse {
        padding-right: unset;
        padding-left: 40px;

        @media only screen and (max-width: 519px) and (min-width: 320px) {
            padding-left: 0;
        }
    }

    @media only screen and (max-width: 519px) and (min-width: 425px) {
        width: 275px;
        height: 173px;
        margin-bottom: 20px;
        padding-right: 0;
    }

    @media only screen and (max-width: 424px) and (min-width: 375px) {
        width: 225px;
        height: 142px;
        margin-bottom: 20px;
        padding-right: 0;
    }

    @media only screen and (max-width: 374px) and (min-width: 320px) {
        width: 170px;
        height: 107px;
        margin-bottom: 20px;
        padding-right: 0;
    }
}

.timeline-content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    box-shadow: 1px 10px 15px rgba(0,0,0,0.15);
    transition: 0.3s ease;

    &:hover {       
        box-shadow: 1px 10px 15px rgba(0,0,0,0.25);
    }
}

.timeline-content-right {
    max-width: 468px;
    padding-left: 40px;

    &--reverse {
        text-align: right;
        padding-left: unset;
        padding-right: 40px;

        @media only screen and (max-width: 519px) and (min-width: 320px) {
            padding-right: 0;
            text-align: left;
        }
    }

    @media only screen and (max-width: 519px) and (min-width: 425px) {
        max-width: 275px;
        padding-left: 0;
    }

    @media only screen and (max-width: 424px) and (min-width: 375px) {
        max-width: 225px;
        padding-left: 0;
    }

    @media only screen and (max-width: 374px) and (min-width: 320px) {
        max-width: 170px;
        padding-left: 0;
    }
}

.timeline-content-title {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 20px;

    &--reverse {
        font-size: 40px;

        @media only screen and (max-width: 519px) and (min-width: 320px) {
            font-size: 35px;
        }
    }
}

.timeline-content-details {
    font-family: 'Merriweather', serif;
    color: #FFA080;
    font-size: 13px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
    line-height: 24px;
    text-transform: none;
    letter-spacing: 0px;

    &--reverse {
        text-align: right;

        @media only screen and (max-width: 519px) and (min-width: 320px) {
            text-align: left;
        }
    }
}

.timeline-content-description {
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 400;
    text-align: left;
    font-family: 'Merriweather', serif;
    margin-bottom: 20px;

    &--reverse {
        text-align: right;

        @media only screen and (max-width: 519px) and (min-width: 320px) {
            text-align: left;
        }
    }
}

.timeline-bottom {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 50%;
    z-index: 20;
    margin-left: -7px;

    &:before {
        background-color: var(--color-timeline-cream);
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        z-index: 20;
        display: block;
        width: 18px;
        height: 18px;
        border-radius: 10px;
        border: 4px solid #f7f2e8;
    }

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        left: 10%;
    }
}

.small-graphic-3 {
    display: inline-block;
    width: 516px;
    height: 183px;
    background-image: url(../dist/img/orange-flower.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: -50px;

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        width: 100%;
    }
}

////////////////////////
// LOCATION

.location-hor-line hr {
    border-style: none;
    border-width: 0;
    margin: 32px 0;
    color: rgba(255, 160, 128, 0.10);
    background-color: rgba(255, 160, 128, 0.10);
    border: 1px solid;
}

.location-hor-line-bottom hr {
    border-style: none;
    border-width: 0;
    margin: 50px 0 0 0;
    color: rgba(255, 160, 128, 0.10);
    background-color: rgba(255, 160, 128, 0.10);
    border: 1px solid;
}

.location-content-container {
    display: flex;
    max-width: 990px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
}

.location-item {
    flex: 0 50%;

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        flex: auto;
    }

    &--order-1 {
        order: 1;
    }

    &--order-2 {
        order: 2;
    }

    &--order-3 {
        order: 3;

        @media only screen and (max-width: 519px) and (min-width: 320px) {
            order: 4;
        }
    }

    &--order-4 {
        order: 4;

        @media only screen and (max-width: 519px) and (min-width: 320px) {
            order: 3;
        }
    }

    &--img {
        width: 461px;
        height: 660px;
        box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.15);
        border-radius: 40px;
        overflow: hidden;
    }

    &--padding {
        padding-left: 40px;
        padding-top: 80px;

        @media only screen and (max-width: 519px) and (min-width: 320px) {
            padding-left: 10px;
            padding-top: 30px;
        }
    }
}

.location-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--right {
        object-position: right;

        @media only screen and (max-width: 519px) and (min-width: 320px) {
            object-position: 82% 50%;
        }
    }
}

.location-list-title {
    font-size: 50px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-transform: none;
    letter-spacing: normal;
}

.location-list {
    list-style: none;
    font-family: 'Merriweather', serif;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
    font-size: 19.599999999999998px;
    margin-top: 40px;

    @media only screen and (max-width: 519px) and (min-width: 320px) {
        margin-top: 10px;
    }
}

.location-list-item {
    margin-bottom: 20px;
}

.location-list-link,
.location-list-num {
    text-decoration: none;
    color: var(--color-text-dark-1);
    transition: all .3s ease-in-out .001s;

    &:hover {
        color: rgba(255, 160, 128, 0.85);
    }
}

.location-list-num {
    text-decoration: underline;
}





////////////////////////
// LOGO

.logo {
    height: 3.25rem;
    margin-left: 2rem;
}


////////////////////////
// SEARCH BOX

.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__butoon {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

////////////////////////
// USER NAVIGATION

.user-nav {
    align-self: stretch;

    display: flex;
    align-items: center;

    // Select direct children of .user-nav with '> *'
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%; // Set height of all these elements to 100%
        display: flex;
        align-items: center;
    }
    // Select direct children of .user-nav, except this time, on hover
    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: var(--color-white);
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    &__user-name {
        
    }
}

/////// FOOTER
.footer {
    position: relative;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-title {
    margin-bottom: 5px;
}

.footer-title-text {
    font-size: 11px;
}

.footer-copyright {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 273px;
    margin-bottom: 5px;
}

.footer-social {
    width: 100%;
    max-width: 273px;
}

.footer-list {
    display: inline-flex;
    list-style: none;
    text-decoration: none;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
